{
    "module": {
        "type": "es6"
    },
    "jsc": {
        // "baseUrl": "src",
        "target": "es2019",
        "parser": {
            "syntax": "typescript"
        },
        "minify": {
            "mangle": true,
            "compress": true
        }
    },
    "env": {
        "targets": {
            "node": 14
        }
    }
}
